{% extends 'events/base.html' %}

{% block content %}

<div class="cevents">
    <div class="text-center">
        <div class="compose" style="color: white; text-decoration: none;">Who We Are</div> </br>
        <div class="compose" style="color: white; text-decoration: none;">Events coordinators group:</div> </br>
        <ul>
            <li><img src="../static/group.png" alt="group" width="820" height="478"><div class="Name">Best team, who is working with events!</div></li>
        </ul>
    </div>
</div>


{% endblock %}